:root {
  --background: var(--neutral-900);
  --foreground: var(--neutral-50);
  --card: var(--neutral-700);
  --card-foreground: var(--neutral-50);
  --popover: var(--neutral-600);
  --popover-foreground: var(--neutral-50);
  --primary: var(--lime-500);
  --primary-foreground: var(--lime-800);
  --secondary: var(--neutral-600);
  --secondary-foreground: var(--neutral-200);
  --muted: var(--neutral-500);
  --muted-foreground: var(--neutral-200);
  --accent: var(--lime-800);
  --accent-foreground: var(--lime-500);
  --destructive: var(--red-500);
  --destructive-foreground: var(--neutral-50);
  --border: var(--neutral-500);
  --input: var(--neutral-500);
  --ring: var(--lime-500);
  --radius: var(--radius-16);
  --chart-1: var(--lime-500);
  --chart-2: oklch(0.85 0.2054 121.64);
  --chart-3: oklch(0.78 0.2054 121.64);
  --chart-4: oklch(0.71 0.2054 121.64);
  --chart-5: oklch(0.64 0.2054 121.64);
  --sidebar: var(--neutral-700);
  --sidebar-foreground: var(--neutral-50);
  --sidebar-primary: var(--lime-500);
  --sidebar-primary-foreground: var(--neutral-900);
  --sidebar-accent: var(--lime-800);
  --sidebar-accent-foreground: var(--lime-500);
  --sidebar-border: var(--neutral-500);
  --sidebar-ring: var(--lime-500);
}

.dark {
  --background: var(--neutral-900);
  --foreground: var(--neutral-50);
  --card: var(--neutral-700);
  --card-foreground: var(--neutral-50);
  --popover: var(--neutral-600);
  --popover-foreground: var(--neutral-50);
  --primary: var(--lime-500);
  --primary-foreground: var(--lime-800);
  --secondary: var(--neutral-600);
  --secondary-foreground: var(--neutral-200);
  --muted: var(--neutral-500);
  --muted-foreground: var(--neutral-200);
  --accent: var(--lime-800);
  --accent-foreground: var(--lime-500);
  --destructive: var(--red-500);
  --destructive-foreground: var(--neutral-50);
  --border: var(--neutral-500);
  --input: var(--neutral-500);
  --ring: var(--lime-500);
  --radius: var(--radius-16);
  --chart-1: var(--lime-500);
  --chart-2: oklch(0.85 0.2054 121.64);
  --chart-3: oklch(0.78 0.2054 121.64);
  --chart-4: oklch(0.71 0.2054 121.64);
  --chart-5: oklch(0.64 0.2054 121.64);
  --sidebar: var(--neutral-700);
  --sidebar-foreground: var(--neutral-50);
  --sidebar-primary: var(--lime-500);
  --sidebar-primary-foreground: var(--neutral-900);
  --sidebar-accent: var(--lime-800);
  --sidebar-accent-foreground: var(--lime-500);
  --sidebar-border: var(--neutral-500);
  --sidebar-ring: var(--lime-500);
}
