@keyframes marquee-scroll {
  to {
    transform: translateX(var(--marquee-distance, -50%));
  }
}

@layer utilities {
  .preset-1 {
    font-size: var(--preset-1-size);
    line-height: var(--preset-1-line-height);
    letter-spacing: var(--preset-1-letter-spacing);
    font-weight: var(--preset-1-weight);
  }

  .preset-2 {
    font-size: var(--preset-2-size);
    line-height: var(--preset-2-line-height);
    letter-spacing: var(--preset-2-letter-spacing);
    font-weight: var(--preset-2-weight);
  }

  .preset-2-bold {
    font-size: var(--preset-2-bold-size);
    line-height: var(--preset-2-bold-line-height);
    letter-spacing: var(--preset-2-bold-letter-spacing);
    font-weight: var(--preset-2-bold-weight);
  }

  .preset-3 {
    font-size: var(--preset-3-size);
    line-height: var(--preset-3-line-height);
    letter-spacing: var(--preset-3-letter-spacing);
    font-weight: var(--preset-3-weight);
  }

  .preset-3-med {
    font-size: var(--preset-3-size);
    line-height: var(--preset-3-line-height);
    letter-spacing: var(--preset-3-letter-spacing);
    font-weight: var(--preset-3-med-weight);
  }

  .preset-3-bold {
    font-size: var(--preset-3-bold-size);
    line-height: var(--preset-3-bold-line-height);
    letter-spacing: var(--preset-3-bold-letter-spacing);
    font-weight: var(--preset-3-bold-weight);
  }

  .preset-4 {
    font-size: var(--preset-4-size);
    line-height: var(--preset-4-line-height);
    letter-spacing: var(--preset-4-letter-spacing);
    font-weight: var(--preset-4-weight);
  }

  .preset-5 {
    font-size: var(--preset-5-size);
    line-height: var(--preset-5-line-height);
    letter-spacing: var(--preset-5-letter-spacing);
    font-weight: var(--preset-5-weight);
  }

  .preset-5-med {
    font-size: var(--preset-5-size);
    line-height: var(--preset-5-med-line-height);
    letter-spacing: var(--preset-5-letter-spacing);
    font-weight: var(--preset-5-med-weight);
  }

  .preset-6 {
    font-size: var(--preset-6-size);
    line-height: var(--preset-6-line-height);
    letter-spacing: var(--preset-6-letter-spacing);
    font-weight: var(--preset-6-weight);
  }

  .history-stat-grid {
    --min: 8.75rem;
    --gap: 1rem;

    width: 100%;
    max-width: 38.125rem;

    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  }
}

@utility container {
  @apply mx-auto px-step-200;

  @variant md {
    @apply px-step-300 max-w-(--container-small);
  }

  @variant lg {
    @apply px-step-400 max-w-(--container-small);
  }

  @variant xl {
    @apply px-0 max-w-(--container-small);
  }

  @variant 2xl {
    @apply px-0 max-w-(--container-small);
  }
}

@utility container-header {
  @apply mx-auto px-step-200;

  @variant md {
    @apply px-step-300 max-w-(--container-large);
  }

  @variant lg {
    @apply px-step-300 max-w-(--container-large);
  }

  @variant xl {
    @apply px-0 max-w-(--container-large);
  }

  @variant 2xl {
    @apply px-0 max-w-(--container-large);
  }
}

@utility container-ticker {
  @apply mx-auto max-w-(--container-x-large);
}

@utility focus-ring {
  outline: none;

  &:focus-visible {
    box-shadow:
      0 0 0 0.1875rem var(--neutral-700),
      0 0 0 0.25rem var(--lime-500);
  }
}

@utility popover-shadow {
  box-shadow: 0 1.25rem 2.5rem 0 rgba(10, 10, 10, 0.5);
}
